*{
    padding: 0;
    margin: 0;
}
body{
    height: 200vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    background-image: linear-gradient(to left top , rgb(55, 157, 216) , rgb(29, 79, 188));
    font-family: roboto;
}

.info ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.menu{
    display: flex ;
    flex-direction: column;
    align-items: center;
    
    gap:40px;
}

.menu ul{
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}